[includeIf "gitdir:~/git/"]
    path = ~/.gitconfig_personal
[includeIf "gitdir:~/temp/"]
    path = ~/.gitconfig_personal
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig_work
[includeIf "gitdir:~/.local/share/yadm/repo.git"]
    path = ~/.gitconfig_personal
[includeIf "gitdir:~/.config/"]
    path = ~/.gitconfig_personal
[includeIf "gitdir:~/.local/"]
    path = ~/.gitconfig_personal
[alias]
    co = checkout
    br = branch
    ci = commit -v
    st = status
    pl = pull
    pu = push
    up = update
    update = pull --ff-only
    unstage = reset HEAD --
    last = log -1 HEAD
    clone-wt = "!sh $HOME/.scripts/git-clone-worktrees.sh"
    sm = submodule
    wt = worktree
[core]
    autocrlf = input
    editor = nvim
    pager = delta
    excludesFile = ~/.gitignore
[color "diff"]
    whitespace = red reverse
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
[pull]
    rebase = false
[init]
    defaultBranch = master
[push]
    followtags = true
    autoSetupRemote = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[gpg]
    format = ssh
[gpg "ssh"]
    program = op-ssh-sign
    allowedSignersFile = ~/.config/git/allowed_signers
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
